# DaData API ключи для обогащения ИНН
DADATA_API_KEY=0d49abad18ccd8b891c3cc0247c31fb20ac14db5
DADATA_SECRET_KEY=66028a531900322903f4ebdacaa450685e3228b1

# Другие переменные окружения
# IMAP_SERVER=your_imap_server
# IMAP_USER=your_username
# IMAP_PASSWORD=your_password
# OPENROUTER_API_KEY=your_openrouter_key